<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,700" rel="stylesheet" />
</head>

<body>
  <table class="mail">
    <thead>
      <tr style="height: 35px;"></tr>
      <tr>
        <th></th>
        <th class="mail__logo-wrapper">
          <a href="{{ appUrl }}" target="_blank">
            <img class="mail__logo-header" src="{{ appUrl }}/static/images/logo-99-saves.png" alt="logo">
          </a>
        </th>
        <th></th>
      </tr>
      <tr style="height: 35px;"></tr>
    </thead>
    <tbody>
      <tr>
        <td style="min-width: 58px;"></td>
        <td class="mail__content-wrapper">
          <table class="mail__content">
            <tbody>
              <tr style="height: 47px;"></tr>
              <tr>
                <td style="width: 50px;"></td>
                <td>
                  <h1 class="mail__title">Bem-vindo(a) ao 99saves!</h1>
                </td>
                <td style="width: 50px;"></td>
              </tr>
              <tr style="height: 23px;"></tr>
              <tr>
                <td style="width: 50px;"></td>
                <td>
                  <p class="mail__text">Agora você pode participar de todas as nossas negociações.</p>
                </td>
                <td style="width: 50px;"></td>
              </tr>
              <tr style="height: 23px;"></tr>
              <tr>
                <td style="width: 50px;"></td>
                <td>
                  <p class="mail__text">Atenciosamente,</p>
                  <p class="mail__text mail__text--bold">Equipe 99saves.com</p>
                </td>
                <td style="width: 50px;"></td>
              </tr>
              <tr style="height: 47px;"></tr>
            </tbody>
          </table>
        </td>
        <td style="min-width: 58px;"></td>
      </tr>
      {{> mail-footer}}
    </tbody>
  </table>

  <style>
    .mail {
      width: 100%;
      background: #1d2028;
    }

    .mail__logo-wrapper {
      text-align: center;
    }

    .mail__logo-header {
      width: 162px;
    }

    .mail__content-wrapper {
      width: 600px;
    }

    .mail__content {
      width: 100%;
      background: #fff;
      border-radius: 2px;
    }

    .mail__title {
      text-align: left;
      text-transform: uppercase;
      font-family: 'Oswald', sans-serif;
      font-size: 34px;
      line-height: 1.47;
      color: #1d2028;
      margin: 0;
      padding: 0;
    }

    .mail__text {
      text-align: left;
      font-size: 14px;
      font-weight: 400;
      color: #69707d;
      font-family: 'Roboto', sans-serif;
      margin: 0;
    }

    .mail__text--bold {
      font-weight: bold;
    }
  </style>
</body>

</html>
